@import url('variaveis.css');

html, body {
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--branco);
}
main {
    flex: 1;
}
header {
    display: flex;
    padding: 1vh;
    background-color: var(--marrom);
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo-titulo{
    font-family: Arial, Helvetica, sans-serif;
}

.links ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li a{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

li{
    margin: 1rem;
}

main h2{
    display: flex;
    justify-content: center;
}

.acervo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1.5rem; 
    padding: 1.5rem; 
}
  

.livro-card {
    background-color: var(--marrom);
    border-radius: 0.5rem;
    padding: 1.5em; 
    max-width: 200px; 
    justify-self: start; 
    width: 100%;
    h3{
        color: var(--preto);
    }
}

.livro-card button{
    width: 100%;
}

footer{
    background: var(--preto);
    color: white;
    padding: 20px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .links ul{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    li{
        margin: 0.5rem;
    }

    .logo{
        padding: 5px;
    }
}